.fechas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 2rem;
}

.filler{
    width: 200px;
}
.fechaDescription{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

}
.fechaDescriptionReverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 1rem;

}

.fechas .mes{
    color: #E4852D;
}

.evento{
    width: 200px;
}

.fechaDescriptionReverse .evento{
    text-align: right;
}

.fechas .icon{
    background-color: rgb(184, 184, 184);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

.fechaDescription .icon::after,
.fechaDescriptionReverse .icon::after{
    width: .2rem;
    height: 1rem;
    background-color: rgb(184, 184, 184);
    content: "";
    position: absolute;
    bottom: -1.5rem;
    border-radius: 2px;
}

.fechas .fechaDescription:last-child .icon::after{
    display: none;
}

@media screen and (max-width: 768px){
    .fechas{
        font-size: .8rem;
    }
    .fechas .icon{
        width: 35px;
        height: 35px;
    }
    .fechaDescription{
        gap: .6rem;
    }
}
@media screen and (max-width: 500px){

    .filler{
        width: 150px;
    }
    .evento{
        width: 150px;
    }
}
@media screen and (max-width: 360px){
    .fechas{
        font-size: .7rem;
    }
    .fechas .icon{
        width: 35px;
        height: 35px;
    }
    .fechaDescription{
        gap: .5rem;
    }
    .filler{
        width: 115px;
    }
    .evento{
        width: 115px;
    }
}