.fechasSeccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.fechaAdmision{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    box-shadow: rgba(0,0,0,.5) 5px 5px 15px;
    border-radius: 25px;
    max-width: 800px;
    margin: auto;
    animation: visibility 0.2s ease-in;
}

.fechaAdmision p{
    font-size: 22px;
}

.icon{
    background-color: var(--primary-color);
    font-size: 100px;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

.imgFlyer{
    width: 40vw;
    border-radius: 10px;
    margin: 25px;
}

.imgFlyer:first-child{
    width: 90%;
}

.convocatoria{
    text-decoration: none;
    font-size: 16px;
    width: 12rem;
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 20px;
    transition: background-color .3s ease-in;
    font-style: normal;
}

.convocatoria:hover{
    background-color: var(--accent-color);
}

.botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.linkTo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-style: normal;
}

@media screen and (max-width: 768px){
    .fechasSeccion{
        font-size: .75rem;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .fechaAdmision p{
        font-size: 16px;
    }
    .imgFlyer{
        width: 70vw;
    }
    .convocatoria{
        font-size: 14px;
        width: 10rem;
    }
}
@media screen and (max-width: 500px){
    .fechasSeccion{
        font-size: .7rem;
    }
    .fechasSeccion .icon{
        width: 35px;
        height: 35px;
    }
    .fechaAdmision p{
        font-size: 12px;
    }
    .imgFlyer{
        width: 90vw;
    }
    .convocatoria{
        font-size: 12px;
        width: 9rem;
    }
    /* .botones{
        gap: 3rem;
    } */
}
