.mapaCurricular{
    align-self: flex-start;
    width: 100%;
    animation: visibility 0.2s ease-in;
}

.contenedorMaterias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

.materias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    font-size: 10px;
}

.materia{
    max-width: 120px;
    text-align: center;
    border: solid 1px black;
}

.materia header{
    height: 100px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.materia .detalles{
    display: flex;
    justify-content: center;
    height: 14px;
    display: flex;
    align-items: center;
    border-top: solid 1px black;
}

.materia .detalles > *{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materia .detalles span:first-child{
    border-right: solid 1px black;
}

.cuatrimestre{
    background-color: var(--complementary-color);
    padding: .5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.ciclo{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding: .5rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.columna{
    width: 2rem;
    height: 400px;
    border-radius: 5px;
    background-color: var(--primary-color);
    align-self: flex-end;
}

.logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img{
    width: 150px;
    aspect-ratio: 5/2;
    object-fit: contain;
}

.mapaCurricular h2{
    max-width: 700px;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    margin: 1rem auto;
}
@media screen and (max-width: 1170px){

    .columna{
        display: none;
    }

}
@media screen and (max-width: 578px){

    .mapaCurricular h2{
        font-size: .8rem;
    }

}
@media screen and (max-width: 400px){

    .materias{
        gap: .5rem;
    }
    .materia{
        font-size: 8px;
    }

    .cuatrimestre{
        padding: .5rem .8rem;
    }

}

@keyframes visibility{
    0%{opacity: 0}
    100%{opacity: 1}
}