.docentesSection{
    width: 100%;
    animation: visibility 0.2s ease-in;
}

.docentesContainer{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
    
.docente{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    max-width: 550px;
    height: 220px;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, .5) 5px 5px 15px;
}


.docente img{ 
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.docenteInfo h3{ 
    font-size: 1.2rem;
}

.docenteInfo h4{ 
    font-style: italic;
    font-weight: 100;
    margin-bottom: 1rem;
}

.docuenteInfo span{
    display: block;
}

.docentesSection h2{
    margin-bottom: 2rem;
}

.email,
.cv{ 
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.icon{ 
    display: flex;
    align-items: center;
    gap: .25rem;
}

@media screen and (max-width: 1170px){
    .docentesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 578px){
    .docente{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        height: fit-content;
    }
    .icon{
        justify-content: center;
    }  

    .docente img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 50%;     
    }

    .docenteInfo{
        font-size: .95rem;
    }

    .docenteInfo h3{
        font-size: 1rem;
    }
}

@keyframes visibility{
    0%{opacity: 0}
    100%{opacity: 1}
}