.mainFooter{
    background: url(../assets/03.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 4rem;
    position: relative;
    flex-wrap: wrap;
    text-shadow: rgba(0,0,0,.5) 5px 5px 5px;

}
.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
}
.mainFooter > *{
    list-style: none;
    z-index: 1;
}

.mainFooter p{
    max-width: 350px;
    margin-bottom: 1rem;
}

.mainFooter a{
    text-decoration: none;
    color: white;
}

.mainFooter a:hover{
    color: var(--accent-color);
}

.mainFooter h2{
    margin-bottom: 1rem;
    color: white;
    text-shadow: rgba(0,0,0,.5) 5px 5px 5px;
}

@media screen and (max-width: 1120px) {

    .mainFooter{
        justify-content: flex-start;
    }
    
}