.logoContainer{
    display: flex;
    background-color: white;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: fit-content;
    border-radius: 25px 0 0 25px;
    position: absolute;
    top: 1rem;
    z-index: 1;
    right: 0;
}

.logos {
    width: 60px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.logosCintillo{
width: 170px;
}

@media screen and (max-width: 500px) {
    
    .logoContainer{
        right: auto;
        top: 1rem;
        left: 0;
        border-radius: 0 25px 25px 0;

    }

    .logos{
        width: 52px
    }
    
}